<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__owner">
        <h3 class="footer__title">
          &copy;&nbsp;Юрий Ключевский
        </h3>
        <p class="footer__subtitle">
          HTML верстка и разработка сайтов
        </p>
      </div>
      <div class="footer__social">
        <p class="footer__subtitle">Мои профили в социальных сетях:</p>
        <ul class="footer__social-list social__list">
          <li class="footer__social-item social__item">
            <a
              class="social__link"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="instagram"
              href="#"
            >
              <svg width="26px" height="26px">
                <use xlink:href="img/sprite.svg#instagram"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a
              class="social__link"
              href="#"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="Fasebook"
            >
              <svg width="26px" height="26px">
                <use xlink:href="img/sprite.svg#facebook"></use>
              </svg>
            </a>
          </li>

          <li class="social__item">
            <a
              class="social__link"
              href="#"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="vkontaktie"
            >
              <svg width="26px" height="26px">
                <use xlink:href="img/sprite.svg#vk"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="#"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="linkedin"
            >
              <svg width="26px" height="26px">
                <use xlink:href="img/sprite.svg#linkedin"></use>
              </svg>
            </a>
          </li>
          <li class="social__item">
            <a
              class="social__link"
              href="#"
              target="_blank"
              rel="noreferrer noopener"
              aria-label="github"
            >
              <svg width="26px" height="26px">
                <use xlink:href="img/sprite.svg#github"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__kontact">
        <button class="footer__btn">
          Связаться Вконтакте
        </button>
        <p class="footer__subtitle">
          Напишите мне, чтобы заказать или узнать стоимость верстки вашего
          проекта
        </p>
      </div>
    </div>
  </div>
</footer>
