<section class="portfolio">
  <div class="container">
    <h2 class="portfolio__title">Портфолио</h2>
    <ul class="portfolio__list" id="portfolio__list">
      <li class="portfolio__item">
        <a href="#" class="portfolio__link">
          <img
            src="img/portfolio1s.jpg"
            alt="forest and the house"
            class="portfolio__img"
          />
          <h3 class="portfolio__link-title">Многостраничный сайт</h3>
          <p class="portfolio__link-descr">Верстка многостраничного сайта.</p>
        </a>
      </li>

      <li class="portfolio__item">
        <a href="#" class="portfolio__link">
          <img
            src="img/portfolio2s.jpg"
            alt="forest and the house"
            class="portfolio__img"
          />
          <h3 class="portfolio__link-title">Адаптивный лендинг</h3>
          <p class="portfolio__link-descr">Верстка многостраничного сайта.</p>
        </a>
      </li>

      <li class="portfolio__item">
        <a href="#" class="portfolio__link">
          <img
            src="img/portfolio3.jpg"
            alt="forest and the house"
            class="portfolio__img"
          />
          <h3 class="portfolio__link-title">Личный сайт</h3>
          <p class="portfolio__link-descr">Верстка многостраничного сайта.</p>
        </a>
      </li>

      <li class="portfolio__item">
        <a href="#" class="portfolio__link">
          <img
            src="img/portfolio4.jpg"
            alt="forest and the house"
            class="portfolio__img"
          />
          <h3 class="portfolio__link-title">Интернет магазин</h3>
          <p class="portfolio__link-descr">Верстка многостраничного сайта.</p>
        </a>
      </li>
    </ul>
  </div>
</section>
